@model IsGodThere.Domain.Opportunity

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 fs-3">@Model?.Title</div>
    </div>

    <div class="row">
        <div class="col-md-12 fs-3">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-primary" asp-action="Index">Back to List</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Details
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.IsOpen)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.IsOpen)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Details)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Details)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.NumberNeeded)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.NumberNeeded)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Requirements)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Requirements)
                        </dd>
                        <dt class = "col-sm-2">
                            @Html.DisplayNameFor(model => model.Organization)
                        </dt>
                        <dd class = "col-sm-10">
                            @Html.DisplayFor(model => model.Organization!.Name)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
