@model IEnumerable<IsGodThere.Domain.Organizer>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 fs-3">Organizers</div>
    </div>

    <div class="row">
        <div class="col-md-12 fs-3">
            <a class="btn btn-primary" asp-action="Create">Create New</a>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-md-12">
            <div class="card-table">
                <div class="card-header">
                    Data
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="table data-table" style="width:100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Role)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Organization)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Identity)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Role)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Organization!.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Identity!.FullName)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
